{% extends "layout.html" %}
{% load static %}

{% block title %}Add product | {% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Add new product</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>            
        <li class="breadcrumb-item active">Add new product</li>
    </ol>
    </nav>
</div>
<div class="container">

    <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3">
                <div class="card-body">

                    <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Add new product</h5>
                    <p class="text-center small">Enter details of new products</p>
                    </div>
                    <form method="post" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                
                        {{ form.as_p }}
                
                        <div class="field">
                            <div class="control">
                                <button class="button is-dark is-uppercase">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        </div>
    </div>

    </section>

</div>
{% endblock %}