{% extends "layout.html" %}
{% load static %}

{% block title %}Add product | {% endblock %}

{% block content %}
    <div class="col-12">
        <a href="{% url 'logout' %}" class="btn btn-danger w-30"> Log out</a>
        <a href="{% url 'home' %}" class="btn btn-primary w-30"> Home</a>
    </div>
    <h1 class="title">Add product</h1>

    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}