{% extends "layout.html" %}
{% load static %}

{% block title %}Product Listed{% endblock %}

{% block content %}

<div class="pagetitle">
    <h1>Product listing</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>            
        <li class="breadcrumb-item active">Product listing</li>
    </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
    {% for elements in products %}
    <div class="product-card">
        <!-- <div class="badge">Hot</div> -->
        <div class="product-tumb">
            <img src="{{ elements.Product_image.url }}" alt="">
        </div>

        <div class="product-details">
            
            <span class="product-catagory">{{ elements.Brand }}</span>
            <h4>{{ elements.Product_title }}</h4>
            <p>{{ elements.Product_description }}</p>

            <div class="product-bottom-details">
                <div class="product-price">
                    <small>₹{{ elements.Product_mrp }}</small>₹{{ elements.Selling_price }}
                </div>
            </div>
            <div class="product-quantity"><small>Quantity: {{elements.Quantity_available}}</small></div>
            <div class="product-country"><small>{{elements.Country_of_origin}}</small></div>
            <div class="col-12">
                <a href="{% url 'Selleredit_product' elements.Product_id %}" class="btn btn-primary w-30"> Edit</a>
                <a href="{% url 'Sellerdelete_product' elements.Product_id %}" class="btn btn-danger w-30"> Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</section>
{% endblock %}