{% extends "layout.html" %}
{% load static %}

{% block title %}Add product | {% endblock %}

{% block content %}
    <h1 class="title">Hello, {{profile.first_name}} {{profile.last_name}}</h1>

    <div class="col-12">
        <a href="{% url 'Sellerchange_password' %}" class="btn btn-primary w-30"> Change Password</a>
        <a href="{% url 'Sellerhome' %}" class="btn btn-primary w-30"> Home</a>
    </div>
    <h1 class="title">Add product</h1>
    <h6>Username: {{profile.username}}</h5>
    <h6>E-mail: {{profile.email}}</h5>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}