{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}iMart{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  {% block css %}
  {% endblock %}

</head>

<body {% if blocksidebar %}class="toggle-sidebar"{% endif %}>

  <!-- ======= Header ======= -->
  {% if blocknavbar %}
  {% else %}
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">iMart</span>        
      </a>      
      {% if blocksidebar %}{% else %}<i class="bi bi-list toggle-sidebar-btn"></i>{% endif %}
    </div><!-- End Logo -->

    {% if searchbar %}
    <div class="search-bar">
        <form class="search-form d-flex align-items-center">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>
    {% else %}
    {% endif %}

    <!-- Icons Navigation -->
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            {% if searchbar %}
              <li class="nav-item d-block d-lg-none">
                  <a class="nav-link nav-icon search-bar-toggle " href="#">
                  <i class="bi bi-search"></i>
                  </a>
              </li>
            {% else %}
            {% endif %}

            {% if user.is_authenticated %}
                <!-- Verfification of user -->
                {% if user.verified %}
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="{% url 'buyer_verification' %}">
                        <i class="bi bi-exclamation-octagon-fill"></i>
                        <span class="badge bg-danger badge-number">!</span>
                    </a>
                </li>
                {% endif %}

                <!-- Cart Nav -->
                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="" data-bs-toggle="dropdown">
                    <i class="bi bi-cart"></i>
                    <span class="badge bg-success badge-number">{{ cart_item_no }}</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have {{ cart_item_no }} items in cart <a href="{% url 'buyer_checkout' %}"><span class="badge rounded-pill bg-primary p-2 ms-2">Checkout</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        {% for item in cart_item %}
                            <li class="message-item">
                                <a href="#">
                                <img src="{{ item.product.Product_image.url }}" alt="" class="rounded-circle">
                                <div>
                                    <h4>{{ item.product.Brand }} - {{ item.product.Product_title }}</h4>
                                    <p>₹{{ item.product.Selling_price }} x {{ item.quantity }}</p>
                                </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% endfor %}
                    </ul><!-- End Messages Dropdown Items -->

                </li>

                <!-- Profile Nav -->
                <li class="nav-item dropdown pe-3">                
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle"></i>
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
                    </a><!-- End Profile Image Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                        <span>{{ user.email }}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user_profile/">
                        <i class="bi bi-person"></i>
                        <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/change_password/">
                        <i class="bi bi-gear"></i>
                        <span>Change password</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/help/">
                        <i class="bi bi-question-circle"></i>
                        <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/logout/">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Sign Out</span>
                        </a>
                    </li>

                    </ul><!-- End Profile Dropdown Items -->                  
                </li>

            {% else %}
                <!-- Profile Nav -->
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle"></i>
                    <span class="d-none d-md-block dropdown-toggle ps-2">Login</span>
                    </a><!-- End Profile Iamge Icon -->
        
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">                       
                    
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/help/">
                        <i class="bi bi-question-circle"></i>
                        <span>Need Help?</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/signup/">
                        <i class="bi bi-person-plus"></i>
                        <span>Register</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li> 

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/login/">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Log In</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li> 

                    </ul><!-- End Profile Dropdown Items -->
                </li>

            {% endif %}

        </ul>
    </nav>  

  </header>  
  {% endif %}

  <!-- ======= Sidebar ======= -->
  {% block sidebar %}
  {% endblock %}

  <!-- ======= Herosection ======= -->
  {% block herosection %}
  {% endblock %}
    
  <!-- ======= Main sections ======= -->
  <main id="main" class="main">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
  </main>

  <!-- ======= Footer ======= -->
  {% if blockfooter %}
  {% else %}
  <footer id="footer" class="footer">
    <div class="copyright">
      <strong><span>iMart</span></strong> is for / by / with IIITD
    </div>
  </footer>  
  {% endif %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>  
  {% block script %}
  {% endblock %}
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>