{% extends "layout.html" %}
{% load static %}

{% block title %}Add product | {% endblock %}

{% block content %}
    <h1 class="title">Change Password</h1>

    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Submit</button>
                <a href="{% url 'sellerAdminhome' %}" class="btn btn-danger w-30"> Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}