{% extends "layout.html" %}
{% load static %}

{% block title %}Admin Homepage{% endblock %}

{% block content %}
<div class="col-12">
    <a href="{% url 'logout' %}" class="btn btn-danger w-30"> Log out</a>
</div>
<h1>Profile for approvals</h1>
{% for elements in Profile_number %}
    <div class="profile-card">
    <!-- <div class="badge">Hot</div> -->
        <div class="profile-tumb">
            <embed src="{{ elements.file.url }}" alt="">
        </div>

        <div class="profile-details">
        
            <span>{{ elements.username }}</span>
            <h4><a href="">{{ elements.email }}</a></h4>

        </div>
        <div class="col-12">
            <a href="{% url 'approve' elements.username %}" class="btn btn-primary w-30"> Approve</a>
        </div>
    </div>
{% endfor %}
<h1> Approved Profiles</h1>
{% for elements in Approved %}
    <div class="profile-card">
    <!-- <div class="badge">Hot</div> -->
        <div class="profile-tumb">
            <embed src="{{ elements.file.url }}" alt="">
        </div>

        <div class="profile-details">
        
            <span>{{ elements.username }}</span>
            <h4><a href="">{{ elements.email }}</a></h4>

        </div>
        <div class="col-12">
            <a href="{% url 'disapprove' elements.username %}" class="btn btn-danger w-30"> Disapprove</a>
            <a href="{% url 'listings' elements.username %}" class="btn btn-primary w-30"> View Listings</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
