{% extends "layout.html" %}
{% load static %}

{% block title %}Product Listed{% endblock %}

{% block content %}
<div class="col-12">
    <a href="{% url 'logout' %}" class="btn btn-danger w-30"> Log out</a>
    <a href="{% url 'home' %}" class="btn btn-primary w-30"> Home</a>
</div>
<h1>Products</h1>
{% for elements in products %}
<div class="product-card">
    <!-- <div class="badge">Hot</div> -->
    <div class="product-tumb">
        <img src="{{ elements.Product_image.url }}" alt="">
    </div>

    <div class="product-details">
        
        <span class="product-catagory">{{ elements.Brand }}</span>
        <h4>{{ elements.Product_title }}</h4>
        <p>{{ elements.Product_description }}</p>

        <div class="product-bottom-details">
            <div class="product-price">
                <small>₹{{ elements.Selling_price }}</small>₹{{ elements.Product_mrp }}
            </div>
        </div>
        <div class="col-12">
            <a href="{% url 'deleteProduct' elements.Product_id %}" class="btn btn-danger w-30"> Delete</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}