{% extends "layout.html" %}
{% load static %}

{% block title %}Admin Homepage{% endblock %}

{% block content %}
<h1>Hello, {{Name}}</h1>
<div class="col-12">
    <a href="{% url 'sellerAdminlogout' %}" class="btn btn-danger w-30"> Log out</a>
    <a href="{% url 'sellerAdminchange_password' %}" class="btn btn-primary w-30"> Change Password</a>
    <a href="{% url 'sellerAdminhome' %}" class="btn btn-primary w-30"> Profile For Approvals</a>
    <a href="{% url 'sellerAdminseller' %}" class="btn btn-primary w-30"> Seller Profiles</a>
    <a href="{% url 'sellerAdminbuyer' %}" class="btn btn-primary w-30">Buyer proflies </a>
</div>
<h1> Approved Profiles</h1>
{% for elements in Approved %}
    <div class="profile-card">
    <!-- <div class="badge">Hot</div> -->
        <div class="profile-tumb">
            <object data="{{elements.file.url}}" type="application/pdf" width="30%" height="300px"> 
                <p>It appears you don't have a PDF plugin for this browser.
                 No biggie... you can <a href="{{elements.file.url}}">click here to
                download the PDF file.</a></p>  
              </object>
        </div>

        <div class="profile-details">
        
            <span>{{ elements.first_name }} {{elements.last_name}}</span>
            <h5><a href="">{{ elements.email }}</a></h5>
            <h5>Username: {{ elements.username }}</h5>
            <h6>{{ elements.address_1 }}</h6>
            <h6>{{ elements.address_2 }}</h6>
            <h6>{{ elements.city }} {{elements.state}}-{{elements.zip_code}}</h6>

        </div>
        <div class="col-12">
            <a href="{% url 'sellerAdmindisapprove' elements.username %}" class="btn btn-danger w-30"> Disapprove</a>
            <a href="{% url 'sellerAdminlistings' elements.username %}" class="btn btn-primary w-30"> View Listings</a>
            <a href="{% url 'sellerAdminDelete' elements.username %}" class="btn btn-danger w-30"> Delete</a>
        </div>
    </div>
{% endfor %}
{% endblock %}