{% extends "layout.html" %}
{% load static %}


{% block title %}iMart - Verification{% endblock %}

{% block css %}
    <link href="{% static 'assets/css/keyboard.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'assets/js/keyboard.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                <a href="{% url 'homepage' %}" class="logo d-flex align-items-center w-auto">
                    <img src="{% static 'assets/img/logo.png' %}" alt="">
                    <span class="d-none d-lg-block">iMart</span>
                </a>
                </div><!-- End Logo -->

                <div class="card mb-3">

                <div class="card-body">

                    <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Enter OTP</h5>
                        {% if error_box %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>    
                        {% else %}                      
                        {% endif %}  
                    </div>

                    <form class="row g-3 needs-validation" novalidate method="post">
                        {% csrf_token %}
                        <div class="col-12">
                            <label for="yourPassword" class="form-label">OTP</label>     
                            <input type="OTP" name="OTP" class="form-control use-keyboard-input" id="yourPassword" placeholder="Enter your OTP" required>                       
                            <!-- {{ form.OTP }} -->
                            {{ form.errors.OTP }}
                            <div class="invalid-feedback">Please enter your OTP !!!</div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Verify</button>
                        </div>
                    </form>

                </div>
                </div>

            </div>
            </div>
        </div>

        </section>

    </div>
{% endblock %}